<%= form_with(model: template, local: true) do |form| %>
  <% if template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template.errors.count, "error") %> <%= t('cms_engine.templates.form.errors_message') %></h2>

      <ul>
      <% template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label t('cms_engine.templates.form.name') %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label t('cms_engine.templates.form.path') %>
    <%= form.text_field :path, class: 'form-control'  %>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= t('cms_engine.templates.form.elements') %></h5>
      <% template.elements.each do |element| %>
        <div class="input-group">
          <div class='form-group'>
            <%= form.label t('cms_engine.templates.form.key') %>
            <%= form.text_field 'elements[][key]', class: 'form-control', value: element.key  %>
          </div>
      
          <div class='form-group'>
            <%= form.label t('cms_engine.templates.form.type') %>
            <%= form.select 'elements[][type]', CmsEngine::Element::TYPES, {}, class: 'form-control', value: element.type  %>
          </div>
      
          <!--<div class='form-group'>
            <%= form.label t('cms_engine.templates.form.content') %>
            <%= form.text_field 'elements[][content]', class: 'form-control', value: element.content  %>
          </div> --->
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <%= form.submit t('cms_engine.templates.form.save'), class: 'btn btn-primary' %>
<% end %>
