<p id="notice"><%= notice %></p>


<div class='container'>
  <div class="row">
    <div class="col">
      <h1><%= t('cms_engine.templates.index.title')%></h1>
    </div>
    <div class="col">
      <%= link_to t('cms_engine.templates.index.create'), new_template_path, class: 'float-right align-middle btn btn-secondary' %>
    </div>

  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('cms_engine.templates.index.name') %></th>
          <th><%= t('cms_engine.templates.index.path') %></th>
          <th><%= t('cms_engine.templates.index.last_edit') %></th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @templates.each do |template| %>
          <tr>
            <td><%= template.name %></td>
            <td><%= template.path %></td>
            <td><%= template.updated_at %></td>
            <td><%= link_to t('cms_engine.templates.index.edit'), edit_template_path(template) %></td>
            <td><%= link_to t('cms_engine.templates.index.destroy'), template, method: :delete, data: { confirm: t('cms_engine.templates.index.destroy_confirmation') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>