<p id="notice"><%= notice %></p>


<div class='container'>
  <div class="row">
    <div class="col">
      <h2>Templates</h2>
    </div>
    <div class="col">
      <%= link_to 'Create', new_template_path, class: 'float-right align-middle btn btn-secondary' %>
    </div>

  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Path</th>
          <th>Last edit</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @templates.each do |template| %>
          <tr>
            <td><%= template.name %></td>
            <td><%= template.path %></td>
            <td><%= template.updated_at %></td>
            <td><%= link_to 'Edit', edit_template_path(template) %></td>
            <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>