<div class='row justify-content-between'>
  <div class='col-8'>
    <%= form_with(model: @resource, local: true) do |form| %>
      <% if @resource.errors.any? %>
        <div id="error_explanation" class='alert alert-danger'>
          <h2><%= pluralize(@resource.errors.count, "error") %> <%= t('cms_engine.resources.form.errors_message') %></h2>

          <ul>
          <% @resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class='form-group'>
        <%= form.label t('cms_engine.resources.form.name') %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= form.label t('cms_engine.resources.form.path') %>
        <%= form.text_field :path, class: 'form-control'  %>
      </div>

      <div class='form-group'>
        <%= form.label t('cms_engine.resources.form.language') %>
        <%= form.select :language, options_for_select(CmsEngine::Resource::AVAILABLE_LANGUAGES, @resource.language), {}, class: 'form-control' %>
      </div>
      <br>
      <div class="card">
        <div id='elements-card' class="card-body">
          <h5 class="card-title"><%= t('cms_engine.resources.form.elements') %></h5>
          <% @resource.elements.each do |element| %>
            <div class="row element-row">
              <div class="col">
                <div class='form-group'>
                  <%= form.label t('cms_engine.resources.form.key') %>
                  <%= form.text_field 'elements[][key]', class: 'form-control', value: element.key  %>
                </div>
              </div>
          
              <div class="col">
                <div class='form-group'>
                  <%= form.label t('cms_engine.resources.form.type') %>
                  <%= form.select 'elements[][type]', options_for_select(CmsEngine::Element::TYPES, element.type), {}, class: 'form-control' %>
                </div>
              </div>
          
              <div class="col">
                <div class='form-group'>
                  <%= form.label t('cms_engine.resources.form.content') %>
                  <%= render_input(element.type, element.content, form) %>
                </div> 
              </div>

              <div class="col left-center">
                <div type="button" class="btn btn-danger remove-element">
                  <%= t('cms_engine.resources.form.remove') %>
                </div>
              </div>
            </div>
          <% end %>
          <button type="button" id='add-element' class="btn btn-secondary float-right">
            <%= t('cms_engine.resources.form.add') %>
          </button>
        </div>
      </div>
      <br>
      <div class='form-group'>
        <%= form.check_box :published, checked: @resource.published, class: 'form-check-input' %>
        <%= form.label t('cms_engine.resources.form.published'), class: 'form-check-label' %>
      </div>
      <br>
      <div class='right-center'><%= form.submit t('cms_engine.resources.form.save'), class: 'btn btn-primary' %></div>
    <% end %>
  </div>
  <div class='col-3 p-10'>
    <div class='row'>
      <!-- TODO: display implemented languages -->
    </div>
    <div class='row'>
      <h3><%= t('cms_engine.resources.form.versions') %></h3>
      <div>
        <% @versions_datetimes.each do |version| %>
          <%= link_to version, edit_resource_path(version_timestamp: version.to_r), class: "btn btn-light mt-2"%>
        <% end %>
      </div>
    </div>

  </div>

</div>
