<p id="notice"><%= notice %></p>

<p>
  <strong>Template:</strong>
  <%= @resource.template %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @resource.path %>
</p>

<p>
  <strong>Published:</strong>
  <%= @resource.published %>
</p>

<p>
  <strong>Elements:</strong>
  <%= @resource.elements %>
</p>

<p>
  <strong>Language:</strong>
  <%= @resource.language %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
