<!DOCTYPE html>
<html>
<head>
  <title>Cms engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "cms_engine/application", media: "all" %>
  <%= javascript_include_tag "cms_engine/application" %>
</head>
<body>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-1 col-md-2 col-sm-4 navbar-container">
          <%= render 'layouts/cms_engine/sidebar'%>
        </div>
        <div class="col-11 col-md-10 col-sm-8 content-container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
