<!DOCTYPE html>
<html>
<head>
  <title>Cms engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "cms_engine/application", media: "all" %>
  <%= javascript_include_tag "cms_engine/application" %>
</head>
<body>
  <div class="container main-container">
    <div class="row main-row">
      <div class="col-1 col-md-2 col-sm-3 col-12 navbar-container sticky-top">
        <%= render 'layouts/cms_engine/sidebar'%>
      </div>
      <div class="col-11 col-md-10 col-sm-9 col-12 content-container p-5">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
